<% include _header %>
<h2><%= title %></h2>
<p><%- format(gettext("You're currently signed into Google as %s."), ['<b>' + escape(proven) + '</b>']) %></p>

<p><%- format(gettext("If you want to use %s, log out of Google and sign in again."),
       ['<b>' + escape(claimed) + '</b>']) %></p>
<p>
  <button id="cancel">Go back</button>
  <button id="tryAgain" data-claimed="<%= claimed %>"><%= gettext("Force Google logout") %></button>
</p>
<script src="<%= personaUrl %>/authentication_api.js"></script>
<script src="/static/js/cancel_button.js"></script>
<script src="/static/js/mismatch.js"></script>
<% include _footer %>
